@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #D2DEEC;
  --foreground: #171717;
  --blue: #013b58;
  --blueSoft: #165252;
  --lightBlue: #d2deec;
  --violet: #3C4556;
  --green: #78882D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
